@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Geral */
body {
    font-family: 'Dancing Script', cursive;
    margin: 0px;
}

.fundo {
    background-color: #A0A083;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 2em 2em 2em 2em;
}

.img {
    padding-top: 1.5em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    padding-top: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.titulo > h2 {
    text-shadow: 2px 2px 5px rgb(34, 32, 32);
}

.formLogin {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    margin-bottom: 2rem;
}

.direcionamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: -10px;
    padding-bottom: 0px;
    margin-top: -2em;
    margin-bottom: 0em;
}

.direcionamentos a {
    text-decoration: underline;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
}


/*Tela de Login*/


.emailLogin {
    text-align: center;
    background-color: aliceblue;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.formSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 2rem;
}

.senhaLogin {
    text-align: center;
    background-color: aliceblue;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: -4rem;
}


a:link {
    color: rgb(53, 3, 28);
}

a:visited { /*cor inicial*/
    color: rgb(2, 54, 2);
}

a:hover { /* passa mouse por cima*/
    color: red;
  }
  
a:active { /*clica no link*/
    color: blue;
}

.botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 1em;
}

.botaoEntrar {
    display: block;
    background-color: #8a8a5dc7;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 50%;
    margin-left: -31rem;
    font-size: 18px;
    border: 2px solid black;
    border-radius: .7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 3rem;
    width: 5rem;
    letter-spacing: .1rem;
    
}

.botaoEntrar:hover{ /* Destaca o botão */
    color: rgb(0, 0, 0);
    transform: scale(1.06);
    transition: .2s;
}



/*Tela de Recuperar Senha*/


#abrirPop:checked ~ #verify{ /*Mostra a mensagem enquanto true*/
    display: block;
}
#fecharPop:checked~#verify{ /* Esconde a mensagem enquanto false*/
    display: none;
}

#abrirPopBtn{
    display: block;
    background-color: #8a8a5dc7;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 50%;
    margin-left: -40px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: .7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 3rem;
    width: 5rem;
    letter-spacing: .1rem;
}

#abrirPopBtn:hover{ /* Destaca o botão */
    color: rgb(0, 0, 0);
    transform: scale(1.06);
    transition: .2s;
}

#verify{
    position: relative;
    left: 50%;
    margin-left: -13rem;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/********************* footer  **********************/
.padraoTell {
    margin: 0%;
    background-color: #826754;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email > h3 {
    font-size: 1em;
    margin-top: 0.3em;
    margin-bottom: 0em;
    padding: 1em;
}

.telefone {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telefone > h3 {
    padding-top: 0.2em;
    padding-bottom: 0.01em;
    font-size: 1em;
    margin-bottom: 0.2em;
}

.telefone > h4 {
    font-size: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}

/* Configurações de Tela */

@media only screen and (max-width: 667px) {
    .fundo {
        background-color: #A0A083;
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 26em;
        height: 30em;
        background: #fff;
        border-radius: 2em 2em 2em 2em;
    }

    .imgLogin {
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botaoEntrar {
        display: block;
        background-color: #8a8a5dc7;
        color: white;
        font-family: Arial, sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        position: relative;
        left: 50%;
        margin-left: -25.5rem;
        font-size: 18px;
        border: 2px solid black;
        border-radius: .7em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-bottom: 3rem;
        width: 5rem;
        letter-spacing: .1rem;
        
    }
}